:root{
    --button-color:#2196F3;
--logo-color:#000000;
--text-color:#212121;
--fon-color:#FFF;
--aggrefon-color:#2F303A;
--aggretext-color:#FFF;
--text2-color:#757575;
}
body {

    font-family: "Roboto" ;
   
   }
 .cart{
    padding-top: 94px;
    padding-bottom: 94px;
 }
.button{
 width: 125px;
height: 38px;
flex-shrink: 0;
margin: 8px;
}
.cart-text{
    color:black;
font-size: 14px;
font-weight: 400;
line-height: 0.035; 
letter-spacing: 0.42px;
margin: 20px;
}
.cart-desc{
    margin-bottom: 20px;
    color: gray;
font-size: 16px;
font-weight: 500;
line-height: 0.032;
letter-spacing: 0.48px;
margin: 10px;
}
.footer-items{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
padding-left:55px;
}
.footer-items[href]{
color: var(--fon-color);
}

.footer{
  background-color: var(--text-color);  
}
.footer-avatar{
    color: var(--aggretext-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.footer-logo{
    color:var(--logo-color);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}