:root{
    --button-color:#2196F3;
--logo-color:#000000;
--text-color:#212121;
--fon-color:#FFF;
--aggrefon-color:#2F303A;
--aggretext-color:#FFF;
--text2-color:#757575;
--ramka-color:#EEEEEE;
}
body {

    font-family: "Roboto" ;
}
   .header-container{
        display: flex;
        align-items: center;
    
    }


.cart-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}

.cart-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;



}
.cart-item{
    outline:1px solid var(--ramka-color) ;
}
 .cart{
    padding-top: 94px;
    padding-bottom: 94px;
   
 }
.button{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; 
    letter-spacing: 0.48px;
    border:none;
   padding: 6px 25px 6px 25px;
   border-radius: 5px;
}
.button:hover{
    color: var(--aggretext-color);
    background-color: var(--button-color);

}
.cart-text{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    background-color:var(--aggretext-color); 
}
.cart-dox{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: var(--aggretext-color);
}
.cart-desc{
    margin-top: 4px;
    color: var(--text2-color);
font-size: 16px;
font-weight: 500;
line-height: 1.87;
letter-spacing: 0.48px;
background-color: var(--aggretext-color);
}

