:root{
    --button-color:#2196F3;
--logo-color:#000000;
--text-color:#212121;
--fon-color:#FFF;
--aggrefon-color:#2F303A;
--aggretext-color:#FFF;
--text2-color:#757575;
--ramka-color:#EEEEEE;
}
body {

    font-family: "Roboto" ;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
    
   .header-container{
        display: flex;
        align-items: center;
    
    }