:root{
    --button-color:#2196F3;
--logo-color:#000000;
--text-color:#212121;
--fon-color:#FFF;
--aggrefon-color:#2F303A;
--aggretext-color:#FFF;
--text2-color:#757575;
--fon-tim:#F5F4FA;
--svg-color:#AFB1B8;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
     outline: 1px solid red;  
   
}

*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
body {

    font-family: "Roboto" ;
   
   }
/* =============================header==================================== */
.header-element{
    width: 16px;
    height: 12px;
    fill: var(--text2-color);
    margin-right: 10px;
}

.header-svg{
    width: 10px;
height: 16px;
fill: var(--text2-color);
margin-right: 10px;
}

.header{
  padding-top: 24px;
  padding-bottom: 25px;
  
}
.header-list{
    display: flex;
    gap: 52px;

}

.header-container{
    display: flex;
    align-items: center;

}
.header-logo{
color:var(--logo-color);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
align-items: center;
margin-right: 93px;
   }
.header-web{
    color: var(--button-color);
}
.header-thumb{
    color:var(--text2-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.028px;
font-style: normal;
display: flex;
align-items: center;

}

.header-items{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}
.header-avatar:hover{
    color: var(--button-color);
}

.header-avatar{
    color:var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
}
.header-thumb:hover{
    color: var(--button-color);
    .header-svg{
        fill: var(--button-color);
    }
    .header-element{
        fill: var(--button-color);
    }
}
/* =============================header==================================== */
/* =================================biznes=============================== */

.biznes-blockquote{
    color: var(--fon-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height:1.36;
letter-spacing: 0.2px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right:auto;
}
.biznes-button{
    color:var(--aggretext-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height:1.87;
letter-spacing: 0.96px;
padding: 10px 32px;
background-color: var(--button-color);
border: none;
margin-top: 30px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.biznes{

 background-color: var(--aggrefon-color); 
padding-top:200px ;
padding-bottom:200px ;
display: flex;
gap: 50;
text-align: center;
background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../pages/fon.jpg);
}
/* =====================biznes=============================== */
/* ================ditels==================================== */
.ditels{
    padding-top: 94px;
   
}
.doing-caption{
    position: relative;
}
.doing-hozihn{
    color: var(--fon-color);
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
position: absolute;
bottom: 0;
left: 0;
padding-top: 27px;
padding-bottom: 27px;
background-color: rgba(47, 48, 58, 0.80);

width: 100%;
}
.ditels-caption::before {
content: "";
display: block;
margin-bottom: 30px;
width: 270px;
height: 120px;
background-color: var(--fon-tim);
background-image: url(../images/1.png);
background-position: center;
background-size: 70px;
background-repeat: no-repeat;

}
.ditels-caption:nth-child(2)::before{
    background-image: url(../images/clock\ .png);
}
.ditels-caption:nth-child(3)::before{
    background-image: url(../images/diagram.png);
}
.ditels-caption:nth-child(4)::before{
    background-image: url(../images/kosmonaft.png);
}

.ditels-text{
    color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
width: 270px;
}
.ditels-snippet{
    color:var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height:1.14;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
}

.ditels-item{
    display: flex;
    gap: 30px;
}
.ditels{
    padding-bottom: 94px;
    padding-top: 94px;
}
.doing-caption{
    flex-basis: calc((100% - 60px) / 3);
}
/* ================ditels======================== */
/* ===================doing========================= */
.doing-snippet{
    color: var(--text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}
.doing-caption{
    justify-content: center;
}
.doing{
    display: flex;
    text-align: center;
    padding-bottom:94px;

}
.doing-list{
display: flex;
 gap: 30px; 
column-gap: 30px;
}
/* ===================doing========================= */
/* =====================tim========================= */
.tim-dox{
    padding-top:30px;
       padding-bottom: 30px;
       background-color: var(--aggretext-color);
       box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
       border-radius: 0px 0px 5px 5px ;
   }

.tim-snippet{
    color: var(--text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
justify-content: center;
 margin-bottom: 50px; 
}
.tim-copy{
    color: var(--text2-color);
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px; 
}
.tim-dess{
    color: var(--text-color);
    
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}
.tim{
   
    display: flex;
    background-color: var(--fon-tim);
    text-align: center;

}
.tim-list{
    display: flex;
    background-color: var(--fon-tim);
    text-align: center;
    gap: 30px; 
}
.tim{
    padding-top: 94px;
    padding-bottom: 94px;
}
.content-item{
    flex-basis: calc((100% - 90px) / 4);
}
.tim-div{
    display: flex;
    justify-content: space-evenly; 
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.tim-svg{
    fill: var(--svg-color);
   
    width: 20px;
height: 20px;

}

.tim-href{

    display: flex;
    align-items: center;
    justify-content: center;
     background-color:var(--fon-color) ; 
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-top: 16px;
}
.tim-href:hover{
background-color: var(--button-color);
.tim-svg{
  fill: var(--fon-color);
}
}
/* =====================tim========================= */
/*======================svg====================== */
.svg{
    padding-top: 94px;
    padding-bottom: 94px;
}
.svg-list{
    display: flex;
    gap: 30px;
    justify-content: center; 
}
.main-svg{
    width: 106px;
height: 60px;
fill: var(--svg-color);
}

.svg-item{
    border: 1px solid var(--svg-color);
    padding: 16px 32px 16px 32px ;
    border-radius: 4px;
}
.svg-item:hover{
    border: 1px solid var(--button-color);
    .main-svg{
        fill: var(--button-color);
    }
}

.svg-text{
    color: var(--text-color);

text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

/*======================svg====================== */
/* ================footer==================== */
.footer-h1{
    color: var(--fon-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}
.footer-div{
    margin-left: 70px;
}
.footer-box{
    display: flex;
    align-items: baseline;
}
.footer-svg{
    fill: var(--fon-color);
   
    width: 20px;
height: 20px;
}
.footer-href{
    display: flex;
    align-items: center;
    justify-content: center;
     background-color:var(--text2-color) ; 
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.footer-ul{
    display: flex;
    gap: 10px;

}
.footer-href:hover{
background-color: var(--button-color);
.footer-svg{
  fill: var(--fon-color);
}
}
.footer{
    background-color: var(--aggrefon-color);  
    padding-top: 60px;
    padding-bottom: 60px;
  }

.footer-thumb{
    color:var(--aggretext-color);


line-height: 1.38;
letter-spacing: 0.78px;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
}

.footer-avatar{
    color: var(--aggretext-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
display: inline-block;
}

.footer-list{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
display: inline-block;
margin-top: 9px;
}

/* ============================footer============================== */
/* ==============================cart=============================== */
/* ====================================beg================== */
.beg{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.windov{
    width: 528px;
height: 581px;
flex-shrink: 0;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.is-hidden{
opacity: 0;
pointer-events: none;
}
.button-close{
    width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid   rgba(0, 0, 0, 0.3);
position: absolute;
top: 8px;
right: 6px;
background-color: transparent;
}
.windov-title{
    color:var(--text-color);

text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height:1.15;
letter-spacing: 0.6px;
}
.windov-label{
    color: var(--text2-color);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height:1.16 ;
letter-spacing: 0.12px;
margin-left: 40px;
position: relative;
}
.windov-check{

}
.windov-svg{
    width: 18px;
    height: 18px;
    fill: #212121;
    position: absolute;
    top: 30px;
    left: 12px;
}
.windov-checkbox{
    display: flex;
    margin-right: auto;
     margin-left: 52px; 
 

}
.windov-button{
    color:var(--aggretext-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height:1.87;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    background-color: var(--button-color);
    border: none;
    margin-top: 30px;
    margin-left: 164px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.windov-href{
margin-left: 5px;
    color: var(--button-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.windov-text{
    color: var(--text2-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height:1.7; 
letter-spacing: 0.42px;
}
.windov-input{
    width: 448px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
display: block;
margin-top: 4px;
margin-bottom: 10px;
margin-left: 40px;
padding-left: 50px;

}
.windov-coment{
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    margin-left: 40px;

}
/* -----------------------------------------------------------------------------PORTFOLIO----------------------------------------------------------------------------------------------- */
.cart-item{
    flex-basis: calc((100% - 60px) / 3);
}
.cart-list{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    }

.cart-container{
    display: flex;
    justify-content: center;
     gap: 8px; 
    margin-bottom: 50px;

}

.cart-list{
    display: flex;
    flex-wrap: wrap;
}

.cart-item{
    outline:1px solid var(--ramka-color) ;
}

 .cart{
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .cart-text{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    background-color:var(--aggretext-color); 
}
.cart-dox{
     padding-top:20px;
    padding-bottom: 20px; 
    background-color: var(--aggretext-color);
    padding-left:24px ;
    padding-right: 24px;
    
}
.cart-item:hover{
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.10), 1px 2px 2px 3px rgba(0, 0, 0, 0.08), 1px 2px 2px 3px rgba(0, 0, 0, 0.12);
   
    
}
.cart-desc{
    margin-top: 4px;
    color: var(--text2-color);
font-size: 16px;
font-weight: 500;
line-height: 1.87;
letter-spacing: 0.48px;
background-color: var(--aggretext-color);
}

 /* ==============================cart=============================== */
 /* ========================button moment===================================== */
.button{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; 
    letter-spacing: 0.48px;
    border:none;
   padding: 6px 25px 6px 25px;
   border-radius: 5px;
}
.button:hover{
    color: var(--aggretext-color);
    background-color: var(--button-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12)

}
 /* ========================button moment===================================== */

