:root{
    --button-color:#2196F3;
--logo-color:#000000;
--text-color:#212121;
--fon-color:#FFF;
--aggrefon-color:#2F303A;
--aggretext-color:#FFF;
--text2-color:#757575;
--fon-tim:#F5F4FA;

}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
     /* outline: 1px solid red;  */
   
}

*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
body {

    font-family: "Roboto" ;
   
   }
/* =============================header==================================== */



.header{
  padding-top: 24px;
  padding-bottom: 25px;
  
}
.header-list{
    display: flex;
    gap: 52px;

}

.header-container{
    display: flex;
    align-items: center;

}
.header-logo{
color:var(--logo-color);
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
align-items: center;
margin-right: 93px;
font-family: Raleway;
   }
.header-web{
    color: var(--button-color);
}
.header-thumb{
    color:var(--text2-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.028px;
font-style: normal;
}

.header-items{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}
.header-avatar:hover{
    color: var(--button-color);
}

.header-avatar{
    color:var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
}
.header-thumb:hover{
    color: var(--button-color);
}
/* =============================header==================================== */
/* =================================biznes=============================== */

.biznes-blockquote{
    color: var(--fon-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height:1.36;
letter-spacing: 0.2px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right:auto;
}
.biznes-button{
    color:var(--aggretext-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height:1.87;
letter-spacing: 0.96px;
padding: 10px 32px;
background-color: var(--button-color);
border: none;
margin-top: 30px;

}
.biznes{

 background-color: var(--aggrefon-color); 
padding-top:200px ;
padding-bottom:200px ;
display: flex;
gap: 50;
text-align: center;
}
/* =====================biznes=============================== */
/* ================ditels==================================== */
.ditels{
    padding-top: 94px;
   
}
.ditels-caption::before {
content: "";
display: block;
margin-bottom: 30px;
width: 270px;
height: 120px;
background-color: var(--fon-tim);
background-image: url(../images/1.png);
background-position: center;
background-size: 70px;
background-repeat: no-repeat;

}
.ditels-caption:nth-child(2)::before{
    background-image: url(../images/clock\ .png);
}
.ditels-caption:nth-child(3)::before{
    background-image: url(../images/diagram.png);
}
.ditels-caption:nth-child(4)::before{
    background-image: url(../images/kosmonaft.png);
}
/* .ditels-caption:nth-child(3)::before{
    background-image: url(../images/shkala.jpg);
}
.ditels-caption:nth-child(4)::before{
    background-image: url(../images/kosmonaft.png);
} */

.ditels-text{
    color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
width: 270px;
}
.ditels-snippet{
    color:var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height:1.14;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
}

.ditels-item{
    display: flex;
    gap: 30px;
}
.ditels{
    padding-bottom: 94px;
    padding-top: 94px;
}
.doing-caption{
    flex-basis: calc((100% - 60px) / 3);
}
/* ================ditels======================== */
/* ===================doing========================= */
.doing-snippet{
    color: var(--text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}
.doing-caption{
    justify-content: center;
}
.doing{
    display: flex;
    text-align: center;
    padding-bottom:94px;

}
.doing-list{
display: flex;
 gap: 30px; 
column-gap: 30px;
}
/* ===================doing========================= */
/* =====================tim========================= */
.tim-dox{
    padding-top:30px;
       padding-bottom: 30px;
       background-color: var(--aggretext-color);
   }

.tim-snippet{
    color: var(--text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
justify-content: center;
 margin-bottom: 50px; 
}
.tim-copy{
    color: var(--text2-color);
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px; 
}
.tim-dess{
    color: var(--text-color);
    
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}
.tim{
   
    display: flex;
    background-color: var(--fon-tim);
    text-align: center;

}
.tim-list{
    display: flex;
    background-color: var(--fon-tim);
    text-align: center;
    gap: 30px; 
}
.tim{
    padding-top: 94px;
    padding-bottom: 94px;
}
.content-item{
    flex-basis: calc((100% - 90px) / 4);
}

/* =====================tim========================= */
/* ================footer==================== */
.footer{
    background-color: var(--aggrefon-color);  
    padding-top: 60px;
    padding-bottom: 60px;
  }

.footer-thumb{
    color:var(--aggretext-color);


line-height: 1.38;
letter-spacing: 0.78px;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
}

.footer-avatar{
    color: var(--aggretext-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
display: inline-block;
}

.footer-list{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
display: inline-block;
margin-top: 9px;
}

/* ============================footer============================== */
/* ==============================cart=============================== */

/* -----------------------------------------------------------------------------PORTFOLIO----------------------------------------------------------------------------------------------- */
.cart-item{
    flex-basis: calc((100% - 60px) / 3);
}
.cart-list{
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    }

.cart-container{
    display: flex;
    justify-content: center;
     gap: 8px; 
    margin-bottom: 50px;

}

.cart-list{
    display: flex;
    flex-wrap: wrap;
}

.cart-item{
    outline:1px solid var(--ramka-color) ;
}

 .cart{
    padding-top: 94px;
    padding-bottom: 94px;
 }
 .cart-text{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    background-color:var(--aggretext-color); 
}
.cart-dox{
     padding-top:20px;
    padding-bottom: 20px; 
    background-color: var(--aggretext-color);
    padding-left:24px ;
    padding-right: 24px;
}
.cart-desc{
    margin-top: 4px;
    color: var(--text2-color);
font-size: 16px;
font-weight: 500;
line-height: 1.87;
letter-spacing: 0.48px;
background-color: var(--aggretext-color);
}

 /* ==============================cart=============================== */
 /* ========================button moment===================================== */
.button{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625; 
    letter-spacing: 0.48px;
    border:none;
   padding: 6px 25px 6px 25px;
   border-radius: 5px;
}
.button:hover{
    color: var(--aggretext-color);
    background-color: var(--button-color);
}
 /* ========================button moment===================================== */

