%transition{
   transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin flexbox($justify:center,$align:center,$wrap:wrap){
    display: flex;
    justify-content: $justify;
    flex-wrap: $wrap;
    align-items: $align;
}