
 .cart{
    padding-top: 94px;
    padding-bottom: 94px;


&__list{
    display: flex;
    justify-content: center;
     gap: 40px; 
    margin-bottom: 50px;
 column-gap: 30px;
    row-gap: 30px;
     flex-wrap: wrap;
     @media screen and (min-width: 480px){
      column-gap: 10px;
      row-gap: 10px;
      }
    
        @media screen and (min-width: 768px){
          column-gap: 20px;
          row-gap: 0px;
      }
    
        @media screen and (min-width: 1200px){
          column-gap: 30px;
          row-gap: 30px;
      }
}
&__lists{

    display: flex;
    gap: 8px;
    justify-content: start;
    margin-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 15px;
  
    @media screen and (min-width: 768px) {
      justify-content: center;
      margin-bottom: 30px;
    }
  
      @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
}

&__button{
   color: $text-color;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
border-radius: 4px;

padding: 6px 22px;
border: none;
transition-property: color, background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
  0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
}


&__item {
    flex-basis: 100%;
    border: 1px solid #eeeeee;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    @media screen and (min-width: 480px){
    flex-basis: 450px;
    }
  
      @media screen and (min-width: 768px){
    flex-basis: calc((100% - 30px) / 2);
    }
  
      @media screen and (min-width: 1200px){
    flex-basis: calc((100% - 60px) / 3);
    }
  
    &:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    
  }

  &:hover .card__desk {
    opacity: 1;
  }
}
&__reletive{
    overflow: hidden;
    position: relative;
}

  &__foto{
    width: 100%; 
  }
  &__hover{
    color:$fon-color;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
&__dox{
  //   padding-top:20px;
  //  padding-bottom: 20px; 
  //  background-color: $aggretext-color;
  //  padding-left:24px ;
  // padding-right: 24px;
padding: 20px 24px;
}
&__text{
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
    background-color:$aggretext-color; 
}
&__desc{
    color: $text2-color;
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
background-color:$aggretext-color;
}
&__button:hover{
    transition-property:color;
    @extend %transition;
    // transition-duration: 250ms;
    // transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    color: $aggretext-color;
    background-color: $button-color;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12)

}

&__item:hover{

    .cart__hover{
 
        opacity: 1;
transform: translateY(0);
    }
}



&__dox{
     padding-top:20px;
    padding-bottom: 20px; 
    background-color: $aggretext-color;
    padding-left:24px ;
    padding-right: 24px;
    
}


&__text{
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    background-color:$aggretext-color; 
}

&__desc{
    margin-top: 4px;
    color: $text2-color;
font-size: 16px;
font-weight: 500;
line-height: 1.87;
letter-spacing: 0.48px;
background-color:$aggretext-color;
}

&__hover{
     color:$fon-color;
    transition-property:transform;
    @extend %transition;
    // transition-duration: 1000ms;
    // transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1) ;
    transform: translateY(100%);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.54px;
position: absolute;
top: 0;
left: 0;
padding: 50px;
background-color: rgba(33, 150, 243, 0.90);
z-index: 1;
opacity: 0; 

}


 }














 


