.ditels{
    padding-top: 94px;
   
        padding-bottom: 94px;
    padding-top: 94px;
&__item{
    display: flex;
    gap: 30px;
}




&__caption::before {
content: "";
display: block;
margin-bottom: 30px;
width: 270px;
height: 120px;
background-color: $fon-tim;
background-image: url(../images/1.png);
background-position: center;
background-size: 70px;
background-repeat: no-repeat;

}
&__caption:nth-child(2)::before{
    background-image: url(../images/clock\ .png);
}
&__caption:nth-child(3)::before{
    background-image: url(../images/diagram.png);
}
&__caption:nth-child(4)::before{
    background-image: url(../images/kosmonaft.png);
}



&__snippet{
    color:$text-color;
    font-size: 14px;
    font-weight: 700;
    line-height:1.14;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
}




&__text{
    color: $text-color;
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
width: 270px;
}





}






