.ditels{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
      }

&__item{
    display: flex;
    gap: 30px;
      flex-wrap: wrap;
      @media screen and (min-width: 1200px){
    
          }
}





&__caption::before {
content: "";
display: block;
margin-bottom: 30px;
width: 100%;
height: 120px;
background-color: $fon-tim;
background-image: url(../images/1.png);
background-position: center;
background-size: 70px;
background-repeat: no-repeat;


}
&__caption:nth-child(2)::before{
    background-image: url(../images/clock\ .png);
}
&__caption:nth-child(3)::before{
    background-image: url(../images/diagram.png);
}
&__caption:nth-child(4)::before{
    background-image: url(../images/kosmonaft.png);
}



&__snippet{
    color:$text-color;
    font-size: 14px;
    font-weight: 700;
    line-height:1.14;
    text-align: center;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (min-width: 768px){
        text-align: start;
}

}


&__text{
    color: $text-color;
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
width: 100%;

@media screen and (min-width: 480px){
    width: 450px;
     }
       @media screen and (min-width: 768px){
    width: 354px;
     }
     @media screen and (min-width: 1200px){
    width: 270px;
      }
      }






}






