.footer {
  background-color: $aggrefon-color;
  padding-top: 60px;
  padding-bottom: 60px;

  & > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    @media screen and (min-width: 768px) {
      align-items: first baseline;
      flex-direction: row;
      }
    
      @media screen and (min-width: 1200px) {
      }
  }
  &__box {
    // display: flex;
    // align-items: baseline;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: start;
   }
  }

  &__thumb {
    color: $aggretext-color;

    line-height: 1.38;
    letter-spacing: 0.78px;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    // display: inline-block;
    // margin-bottom: 20px;
    letter-spacing: 0.72px;
    @media screen and (min-width: 1200px) {
      letter-spacing: 0.78px;
      font-size: 26px;
    }
  }

  &__web {
    color: $button-color;
  }
&__thumbnail{
  font-style: normal;
  margin-top: 20px;
}
// !!!!!!!!!!!!!!!!!!
  &__avatar {
    color: $aggretext-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    // display: inline-block;
  }

  &__list {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    display: inline-block;
    margin-top: 9px;
  }
  &__wrapper{

    text-align: center;
    margin-top: 60px;
    
    @media screen and (min-width: 768px) {
      margin-left: 165px;
      margin-top: 0;
      }
    
      @media screen and (min-width: 1200px) {
        margin-left: 70px;
        text-align: start;
      }
  }
  &__slogan {
    color: $fon-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__items {
    display: flex;
    gap: 10px;
  }
  &__lists{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 9px;
  }
  &__svg {
    fill: $fon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 20px;
    height: 20px;
  }
  &__href {

    @include flexbox($wrap:nowrap);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: $text2-color;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  &__href:hover {
    background-color: $button-color;
    transition-property: background-color;
    @extend %transition;
    &__svg {
      fill: $fon-color;
      transition-property: fill;
      @extend %transition;
      // transition-duration: 250ms;
      // transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

 
  &__telegram {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: $fon-tim;
    position: absolute;
    top: 13px;
    left: 138px;
    margin-left: 10px;
  }

  &__box2 {
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
          margin-left: auto;
          margin-top: 0;
      }
  }

  &__desc {
    margin-left: auto;
    margin-right: auto;
    color: $fon-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__input {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    @media screen and (min-width: 480px){
      width: 450px;
      }
    
      @media screen and (min-width: 1200px){
        width: 358px;
      }
  }

  &__button {
    
    color: $aggretext-color;
    background-color: $button-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    padding: 10px 56px 10px 28px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    // padding: 10px 28px;
    // text-align: center;
    // font-size: 16px;
    // font-weight: 700;
    // line-height: 1.87;
    // letter-spacing: 0.96px;
    // border-radius: 4px;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    // border: none;
    // display: flex;
    // align-items: center;
    // gap: 10px;
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 1200px){
    gap: 12px;
    flex-direction: row;
    border-radius: 10px;
    // margin-left: auto;
    }
  }
  &__input {
    fill: $aggretext-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 290px;
    
  
    @media screen and (min-width: 480px){
    width: 450px;
    }
  
    @media screen and (min-width: 1200px){
      width: 358px;
    }
  }
  &__block {
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: start;
          margin-left: auto;
          margin-top: 0;
      }
  
  }
  &__href{
    color:$aggretext-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  }
}
