.header {
  padding-top: 24px;
  padding-bottom: 10px;

@media screen and ( max-width:768px){
 padding: 21px 0; 

}
@media screen and ( max-width:1200px){
 padding: 25px 0; 

}
  &__logo {
    color: $logo-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.72px;
    margin-right: auto;
     @media screen and ( max-width:768px){
  margin-right: 88px;
}
@media screen and ( max-width:1200px){
font-size: 26px;
   letter-spacing: 0.78px;
    margin-right: 93px;

}
  }

  &__web {
    color: $button-color;
  }
  &__list {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;

    @media screen and (min-width: 768px){
     display: flex; 
    }
    @media screen and (min-width: 1200px){
      gap: 30px;
      flex-direction: row;

    }
    &__nav{
      display: none;
      @media screen and (min-width: 768px){
        display: block;
      }
   
    }
  }
  &__item {
    position: relative;
  }

  &__avatar:hover {
    color: $button-color;
    transition-property: color;
    @extend %transition;
  }
  &__avatar:hover::after {
    opacity: 1;
    transition-property: opacity;
    @extend %transition;
  }
  &__avatar {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  &__avatar::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $button-color;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -34px;
    opacity: 0;
  }
  &__items {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    transition-property: color;
    @extend %transition;
    // transition-duration: 250ms;
    // transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    // display: none;
    

}
  &__thumb::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $button-color;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -34px;
    opacity: 0;
  }

  &__thumb {
    color: $text2-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.028px;
    font-style: normal;
    display: flex;
    align-items: center;
  }
  &__thumb:hover::after {
    opacity: 1;
    transition-property: opacity;
    @extend %transition;
    //   transition-duration: 250ms;
    //   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__thumb:hover {
    color: $button-color;
    transition-property: color;
    @extend %transition;
    // transition-duration: 250ms;
    // transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
   .header__element,
   .header__svg{
      fill: $button-color;
      @extend %transition;
      transition-property: color;
      // transition-duration: 250ms;
      // transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__element {
      fill: $button-color;
      transition-property: color;
      @extend %transition;
      // transition-duration: 250ms;
      // transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (min-width: 1200px){
        font-size: 14px;
        letter-spacing: 0.28px;
      }
    }
  }
&__cell{
  @media screen and (min-width: 1200px){
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
  &__element {
    width: 16px;
    height: 12px;
    fill: $text2-color;
    margin-right: 10px;
  }
  &__svg {
    width: 10px;
    height: 16px;
    fill: $text2-color;
    margin-right: 10px;
 
  }

  &__container {
    display: flex;
    align-items: center;
  }
}
